{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Design</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body>
<div class="header_section">
    <div class="container-fluid">
        {% include 'common/navbar.html' %}
    </div>
</div>
<div class="design_section layout_padding">
    <div class="container">
        <h1 class="design_taital">Our Interior <span style="color: #f3f3f3;">Design Work</span></h1>
        <p class="design_text">All the Lorem Ipsum generators on the Internet tend to repeat text. All the Lorem Ipsum
            generators on the Internet tend</p>
        <div class="design_section_2">
            <div class="design_section_main">
                <div class="row">
                    <div class="col-md-4">
                        <div class="container_main">
                            <img src="{% static 'images/img-1.png' %}" alt="" class="image">
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="jony_text">Design Work</h4>
                                    <p class="some_text">There are many variations of passages of Lorem Ipsum available,
                                        but
                                        the majority have suffered alteration in some form</p>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Read More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container_main">
                            <img src="{% static 'images/img-2.png' %}" alt="" class="image">
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="jony_text">Design Work</h4>
                                    <p class="some_text">There are many variations of passages of Lorem Ipsum available,
                                        but
                                        the majority have suffered alteration in some form</p>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Read More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_main margin_top_30">
                            <img src="{% static 'images/img-3.png' %}" alt="" class="image">
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="jony_text">Design Work</h4>
                                    <p class="some_text">There are many variations of passages of Lorem Ipsum available,
                                        but
                                        the majority have suffered alteration in some form</p>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Read More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container_main">
                            <img src="{% static 'images/img-4.png' %}" alt="" class="image">
                            <div class="overlay">
                                <div class="text">
                                    <h4 class="jony_text">Design Work</h4>
                                    <p class="some_text">There are many variations of passages of Lorem Ipsum available,
                                        but
                                        the majority have suffered alteration in some form</p>
                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Read More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="read_bt"><a href="#">See More</a></div>
    </div>
</div>
{% include 'common/footer.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js/plugin.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>