{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>News</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body>
<div class="header_section">
    <div class="container-fluid">
        {% include 'common/navbar.html' %}
    </div>
</div>
<div class="news_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="news_taital">Our <span style="color: #fefefd;">Team</span></h3>
            </div>
        </div>
    </div>
    <div class="news_section_2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="news_img"><img src="{% static 'images/news-img.png' %}"></div>
                </div>
                <div class="col-md-6">
                    <div class="news_taita_main">
                        <h3 class="news_taital_1">BLOOM Royika</h3>
                        <p class="news_text">many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even
                            slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
                            there
                        </p>
                        <div class="readmore_bt"><a href="#">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}
<script src="{% static 'js/jquery.min.js' %]"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js/plugin.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>